@charset "UTF-8";

body{
    margin: 0% 5%;
    background-color: rgb(75, 75, 75);
}

#div2 > iframe{
    width: 95%;
    height: 400px;
    border: 2px solid black;

}

div.conteudos {
    
    margin: 10px auto;
    padding: 5px;
    font-family: Arial, Helvetica, sans-serif;
    border: 1px solid rgb(0, 0, 0);
    box-shadow: 2px 5px 6px rgba(0, 0, 0, 0.158);
    background-color: rgb(241, 241, 241);

}